<!doctype html>
<html lang="tr-TR">
	<head>
    {% include "../includes/head.twig" %}
    </head>
<body class="bg">
    <!-- HEADER -->
    {% include "../includes/header.twig" %}
     
		{% block content %}

		{% endblock %} 
    
    <!-- FOOTER -->
    {% include "../includes/footer.twig" %}

    <!-- SCRIPTS -->
    {% include "../includes/scripts.twig" %}

</body>
</html>