<footer class="">
    <div class="container">
        <div class="row" style="height:87px">
            <div class="col-sm-12 col-md-10 align-self-center">
                <span>{{ footer.copyright }}</span>
            </div>
            <div class="col-sm-12 col-md-2 align-self-center text-center">
                <img class="mw-100" src="{{footer.logo}}"/>
            </div>
        </div>
    </div>

</footer>
