<nav class="navbar  fixed-top navbar-expand-md navbar-light transparent customNav ">
    <a class="navbar-brand" href="/">
        <img src="{{ logo }}">
    </a>
    <img class="navbar-toggler p-0" 
        id="navIcon" 
        data-target="#nav" 
        data-toggle="collapse" 
        type="button" 
        src="{{ logo }}">
   
    <div class="collapse navbar-collapse justify-content-between" id="nav">
        <ul class="navbar-nav"></ul>
        <ul class="navbar-nav">
        {% for nav in navbar %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ nav.href }}">{{ nav.name }}</a>
            </li> 
        {% endfor %}
        </ul>
    </div>
</nav>
